{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ogani | Your Site{% endblock %}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
    <!-- Page Preloader -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row align-items-center">

                <!-- Logo -->
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'myapp/img/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>

                <!-- Navigation Menu -->
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'subscriptions' %}">Subscription</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- Login / Profile -->
                <div class="col-lg-3">
                    <div class="header__cart d-flex justify-content-end">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="btn custom-btn custom-border-btn smoothscroll">
                                {{ user.username }}
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn custom-btn custom-border-btn smoothscroll">
                                Login
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>

            <!-- Mobile Menu Icon -->
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'home' %}"><img src="{% static 'myapp/img/logo.png' %}" alt="Logo"></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>

                <!-- Useful Links -->
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter</h6>
                        <p>Get email updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright d-flex justify-content-between">
                        <p>
                            &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                            Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <div><img src="{% static 'myapp/img/payment-item.png' %}" alt="Payment Methods"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- JS Plugins -->
    <script src="{% static 'myapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'myapp/js/mixitup.min.js' %}"></script>
    <script src="{% static 'myapp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'myapp/js/main.js' %}"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
                    title: '{% if message.tags == "error" %}Oops...{% else %}Success{% endif %}',
                    text: '{{ message }}'
                });
            {% endfor %}
        {% endif %}
    </script>

</body>
</html>
