{% extends 'base.html' %}

{% block content %}

<section class="contact-section section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8 col-12 text-center">
                <div class="section-title-wrap mb-5">
                    <h1>Registration Successful</h1>
                </div>

                <p>
                    Thanks for registering! Please check your email 
                    <strong>{{ email }}</strong> for the activation link.
                </p>
            </div>

        </div>
    </div>
</section>

{% endblock %}
